
/* Champion styles:
   ========================================================================== */
/* Red outline all selector
 
 *{
outline: dotted red 1px;

}
 
 - uncomment to visualise element box layouts
==========================================*/
/*Marksman landing container position*/
.marksmanlanding{
	margin-top: 0;
    position: relative;
    overflow: hidden;
	height: 400px;
	top: 53px;
	text-align: center;
	
}
/*Marksman landing image style*/
.marksmanlanding img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    opacity: 0.4;
	z-index: -1;
	
}
/*Marksman landing text default style*/
.marksmantext {
	display: inline-block;
	margin-top: 5%;
	color: #D3D4D9;
	text-align: center;
	height: 150px;
	width: 700px;
	background-color: #262424;
	border-radius: 30px;
	
}
/*Marksman landing heading style*/
.marksmantext h1{
	color: #EA122F;
	font-size: 65px;
	text-shadow: 1px 1px 10px #424251;
	margin:10px 0px 0px 0px;
	
}
/*Grid wrapper for champion containers*/
.marksmaninfogrid{
	display: grid;
	position: relative;
	margin-top: 50px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 65px;
	grid-row-gap: 70px;
	Color: #262424;
	font-size: 25px;
	align-items: center;
	width: 90%;
	left: 5%;
	right: 5%;
}
/* Grid heading alignment */
.marksmaninfogrid h3{
	margin: 0px 0px 10px 20px;
	padding: 0;
}
/* Restrictions on images and iframes - ensuring scale */
.marksmaninfogrid img, iframe{
	max-height: 480px;
	max-width: 650px;
	border-radius: 10px;
	padding:10 px;

}
/* Selector for attributes element */
.attributes{
	
}
/* Selector for loreelement */
.build{
	
}
/* Selector for lore element */
.runes{
	
}
/* Selector for lore element */
.spotlight{
	
}
/* Selector for lore element */
.stats{	

}
.lore{
	max-width: 650px;
}
/* Selector for lore element */
.lore span{
	background-color: #D3D4D9;
	padding: 8px;
	line-height: 1.	5em;
	
	
}
/* End of champion.css */
